@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 76 3% 100%;
    --foreground: 76 3% 10%;
    --card: 76 3% 100%;
    --card-foreground: 76 3% 15%;
    --popover: 76 3% 100%;
    --popover-foreground: 76 95% 10%;
    --primary: 76 51.8% 51.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 76 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 38 10% 95%;
    --muted-foreground: 76 3% 32%;
    /* Made darker for better contrast */
    --accent: 38 10% 90%;
    --accent-foreground: 76 3% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 76 3% 100%;
    --border: 76 20% 82%;
    --input: 76 20% 50%;
    --ring: 76 51.8% 51.2%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    /* Dark mode colors with improved contrast */
    --background: 76 10% 10%;
    --foreground: 76 3% 100%;
    --card: 76 3% 10%;
    --card-foreground: 76 3% 100%;
    --popover: 76 10% 5%;
    --popover-foreground: 76 3% 100%;
    --primary: 76 51.8% 51.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 76 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 38 10% 25%;
    --muted-foreground: 76 3% 70%;
    /* Brighter for better contrast */
    --accent: 38 10% 25%;
    --accent-foreground: 76 3% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 76 3% 100%;
    --border: 76 20% 50%;
    --input: 76 20% 50%;
    --ring: 76 51.8% 51.2%;
    --radius: 0.5rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}